package service


import(
{% for value in imports %} "{{value}}"
{% endfor %}
)


func InitGen() {
    {% for value in camelTableNames %}dao.{{value}} =  dao.Init{{value}}(mus.Logger,mus.Db)
    {% endfor %}
}
